.Badges__hero {
	width: 100%;
	padding: 2rem 0;
	background: url('../../images/stars.svg'), #1B1B25;
	background-repeat: repeat;
	margin-bottom: 1rem;
}

.Badges__hero>.Badges__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Badges__container {
	width: 100%;
	max-width: 580px;
	margin: 0 auto;
	padding: 0 1rem;
}

.Badges_conf-logo {
	margin-bottom: 2rem;
}

.Badges__buttons {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.Badges__element {
	border-radius: 0.5vw;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.Badges__element .avatar {
	border-radius: 50%;
}

.Badges__element .social {
	width: 5%;
	height: 5%;
}

.Badges__element .social-text {
	font-size: 1.2em;
}
